#ui {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-text {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
}


#room-id {
    position: absolute;
    top: 5px;
    right: 5px;
    user-select: text;
}

#gameover{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 57px;
}

#respawn-panel{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 57px;
    width: 600px;
}

#respawn-killer{
    margin-bottom: 20px;
    color: red;
}