#ui {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-text {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
}


#room-id {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    user-select: text;
}

#gameover{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 57px;
}

#respawn-panel{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 57px;
    width: 600px;
}

#respawn-killer{
    margin-bottom: 20px;
}

#respawn-killer-name{
    color: red;
}

button, input{
    padding: 10px;
}
#player-name-panel{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#kill-message-area{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.toaster-message{
    color: #fff;
    background-color: #ff1b1b70;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    transition: all .5s;
    position: relative;
    right: 0;
}
.toaster-message.fade-out{
    opacity: 0;
    transform: translateX(100%);
}
.toaster-message.message-blue{
    background-color: #0066ff70;
}

#game-canvas{
    position:absolute;
}

#cooldown-bar{
    background-color: #808080a1;
    border-radius: 10px;
    width: 240px;
    height: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    opacity: 0;
    
}
#cooldown-bar.active{
    opacity: 1;
    transition: opacity 0.25s;
}

#cooldown-bar-fill{
    background-color: #c19f00;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

